body{
    height: 100vh;
    width: 100vw;
    background-color: turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width:150px;
    height: 150px;
    border: 2px solid black;
    outline: none;
}
button:hover{
    cursor: pointer;
    opacity: 0.8;
}

#btn_purple{
    background-color: purple;
}
#btn_pgreen{
    background-color: palegreen;
}
#btn_yellow{
    background-color: yellow;
}
#btn_plum{
    background-color: plum;
}